node-red/ServoControl.flow
[{"id":"a83bb87a.932ce8","type":"tab","label":"Servo Control"},{"id":"d4730969.cabe68","type":"http request","z":"a83bb87a.932ce8","name":"","method":"GET","ret":"txt","url":"http://192.168.1.180/led?value={{payload}}","tls":"","x":525,"y":97,"wires":[["18e320ef.ac434f","858b40ed.d5f6d"]]},{"id":"18e320ef.ac434f","type":"http response","z":"a83bb87a.932ce8","name":"","x":929,"y":88,"wires":[]},{"id":"858b40ed.d5f6d","type":"debug","z":"a83bb87a.932ce8","name":"","active":true,"console":"false","complete":"false","x":840,"y":200,"wires":[]},{"id":"8356675d.bcfda8","type":"ui_slider","z":"a83bb87a.932ce8","tab":"46522402.a0a99c","name":"Slider","topic":"","group":"","order":1,"min":"0","max":"180","x":346,"y":284,"wires":[["ceec3a42.d654d8","d4730969.cabe68","3167110c.fd1d1e"]]},{"id":"ceec3a42.d654d8","type":"ui_gauge","z":"a83bb87a.932ce8","tab":"46522402.a0a99c","name":"Gauge","group":"","order":1,"format":"{{value}}","min":"0","max":"180","x":575,"y":268,"wires":[]},{"id":"ccc0f32a.3085a","type":"inject","z":"a83bb87a.932ce8","name":"Initialize","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":true,"x":113,"y":150,"wires":[["8356675d.bcfda8"]]},{"id":"26f8c01b.67efb","type":"ui_button","z":"a83bb87a.932ce8","tab":"46522402.a0a99c","name":"Stop","payload":"90","topic":"","group":"Control","order":"2","x":80,"y":291,"wires":[["8356675d.bcfda8"]]},{"id":"3227e954.554e86","type":"ui_button","z":"a83bb87a.932ce8","tab":"46522402.a0a99c","name":"Forward","payload":"180","topic":"","group":"Control","order":1,"x":79,"y":243,"wires":[["8356675d.bcfda8"]]},{"id":"dc27cd98.bf691","type":"ui_button","z":"a83bb87a.932ce8","tab":"46522402.a0a99c","name":"Back","payload":"0","topic":"","group":"Control","order":"3","x":79,"y":339,"wires":[["8356675d.bcfda8"]]},{"id":"3167110c.fd1d1e","type":"ui_chart","z":"a83bb87a.932ce8","tab":"46522402.a0a99c","name":"History","group":"","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":573,"y":323,"wires":[[],[]]},{"id":"46522402.a0a99c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]

